<footer class="bg-dark text-white py-2">
    <div class="d-flex align-items-center justify-content-around">
        <p>Ph No. : xx-xx-xx-xx-xx</p>
        <p>Email: info@mycompany.com</p>
        <p class="text-center">Copyright @DateTime.Now.Year - MovieMania</p>
    </div>
</footer>
