<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: info@mycompany.com</p>
                <p>Phone: 555-555-5555</p>
                <p>Address: 123 XYZ St, Anytown India</p>
            </div>
        </div>
        <p class="text-center">Copyright @DateTime.Now.Year - My Company</p>
    </div>
</footer>
