@{
    Layout = "_Layout.Shell.cshtml";
}

<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-image: url('/image/bgunathorized.jpg');
        background-size: cover;
        background-position: center;
    }
</style>

<div class="unathorized-container">
    @RenderBody()
</div>
