<form asp-action="Search" asp-controller="Home" method="get">
    <div class="d-flex align-items-center w-50 mx-auto">
        <input type="text" class="form-control" placeholder="Search">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>