    <div class="d-flex align-items-center my-3 w-50 mx-auto">
    <div class="d-flex align-items-center w-50 mx-auto">
        <input type="text" class="form-control" placeholder="Search">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>