@{
    Layout = "_Layout.Unauthenticated";
    ViewData["Title"] = "Not Found";
}

<style>
    body {
        background-image: url('/image/notfound.png');
    }
</style>

<a class="btn btn-primary" asp-action="Index" asp-controller="Home">Go To Home</a>
