@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<div class="card mx-auto w-25">
    <div class="card-header">
        <h4>Change Password</h4>
    </div>
    <div class="card-body">
        <form asp-controller="Account" asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="CurrentPassword"></label>
                <input type="password" class="form-control" asp-for="CurrentPassword" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="NewPassword"></label>
                <input type="password" class="form-control" asp-for="NewPassword" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="ConfirmNewPassword"></label>
                <input type="password" class="form-control" asp-for="ConfirmNewPassword" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Change Password</button>
        </form>
    </div>
</div>