@model ForgotPasswordViewModel

@{
    Layout = "_Layout.Unauthenticated";
    ViewData["Title"] = "Login";
}

<div class="card mx-auto">
    <div class="card-header">
        <h4>Reset Password</h4>
    </div>
    <div class="card-body">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="Email">Enter Email</label>
                <input type="email" class="form-control" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Reset</button>
        </form>

        <a class="btn btn-secondary btn-block mt-4 w-100" asp-controller="Account" asp-action="Login">Cancel</a>
    </div>
</div>