@model MovieMania.Models.LoginViewModel
@{
    ViewData["Title"] = "Home";
}


<h1>Home</h1>

<div class="row">
    <div class="card col-3 m-2" style="width: 18rem;">
        <img class="card-img-top" src="https://spectrum-ent.com/wp-content/uploads/2020/07/epic-movie.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Movie Name</h5>
            <p class="card-text">Some quick example text to</p>
            <a href="#" class="btn btn-primary mt-auto d-block">View Details</a>
        </div>
    </div>

    <div class="card col-3 m-2" style="width: 18rem;">
        <img class="card-img-top" src="https://spectrum-ent.com/wp-content/uploads/2020/07/epic-movie.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Movie Name</h5>
            <p class="card-text">make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary mt-auto d-block">View Details</a>
        </div>
    </div>

    <div class="card col-3 m-2" style="width: 18rem;">
        <img class="card-img-top" src="https://spectrum-ent.com/wp-content/uploads/2020/07/epic-movie.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Movie Name</h5>
            <p class="card-text">make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary mt-auto d-block">View Details</a>
        </div>
    </div>

    <div class="card col-3 m-2" style="width: 18rem;">
        <img class="card-img-top" src="https://spectrum-ent.com/wp-content/uploads/2020/07/epic-movie.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Movie Name</h5>
            <p class="card-text">make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary mt-auto d-block">View Details</a>
        </div>
    </div>

    <div class="card col-3 m-2" style="width: 18rem;">
        <img class="card-img-top" src="https://spectrum-ent.com/wp-content/uploads/2020/07/epic-movie.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Movie Name</h5>
            <p class="card-text">make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary mt-auto d-block">View Details</a>
        </div>
    </div>

    <div class="card col-3 m-2" style="width: 18rem;">
        <img class="card-img-top" src="https://spectrum-ent.com/wp-content/uploads/2020/07/epic-movie.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Movie Name</h5>
            <p class="card-text">make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary mt-auto d-block">View Details</a>
        </div>
    </div>

    <div class="card col-3 m-2" style="width: 18rem;">
        <img class="card-img-top" src="https://spectrum-ent.com/wp-content/uploads/2020/07/epic-movie.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Movie Name</h5>
            <p class="card-text">make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary mt-auto d-block">View Details</a>
        </div>
    </div>
</div>