@model MovieEditViewModel

@{
    ViewData["Title"] = "Add Movie";
    var photoPath = "~/image/" + (!String.IsNullOrWhiteSpace(Model.ExistingPhotoPath) ? Model.ExistingPhotoPath : "noimage.webp");
}

<div class="card w-50 mx-auto my-2">
    <div class="card-header">
        <h4>Add New Movie</h4>
    </div>
    <div class="card-body">
        <form asp-action="Edit" asp-controller="Movie" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <input asp-for="Id" type="hidden"/>
            <input asp-for="ExistingPhotoPath" type="hidden"/>

            <div class="form-group mb-2">
                <label asp-for="Name"></label>
                <input type="text" class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Description"></label>
                <input type="text" class="form-control" asp-for="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Author"></label>
                <input type="text" class="form-control" asp-for="Author" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="ReleaseDate"></label>
                <input type="date" class="form-control" asp-for="ReleaseDate" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="input-group">
                <label asp-for="ReleaseDate">Movie Duration</label>
                <div class="input-group-prepend">
                    <label class="input-group-text" asp-for="Duration"></label>
                </div>
                <input type="number" class="form-control" placeholder="Hours" asp-for="Hours" />
                <input type="number" class="form-control" placeholder="Minutes" asp-for="Minutes" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Photo">Choose new file</label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <img class="card-img-top" style="object-fit:fill; max-width: 30vh; max-height: 30vh;"
                 src="@photoPath" asp-append-version="true">
            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Update</button>
            <a asp-action="Details" asp-controller="Home" asp-route-id="@Model.Id" class="btn btn-secondary btn-block mt-2 w-100">Cancel</a>
        </form>
    </div>
</div>
